<?xml version="1.0"?>
<Workbook
    xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
        <AllowPNG/>
        <PixelsPerInch>96</PixelsPerInch>
    </OfficeDocumentSettings>
    <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
        <WindowHeight>17540</WindowHeight>
        <WindowWidth>28140</WindowWidth>
        <WindowTopX>660</WindowTopX>
        <WindowTopY>460</WindowTopY>
        <ProtectStructure>False</ProtectStructure>
        <ProtectWindows>False</ProtectWindows>
    </ExcelWorkbook>
    <Styles>
        <Style ss:ID="Default" ss:Name="Normal">
            <Alignment ss:Vertical="Bottom"/>
            <Borders/>
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
            <Interior/>
            <NumberFormat/>
            <Protection/>
        </Style>
        <Style ss:ID="s67" ss:Name="Hyperlink">
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#00ABEA" ss:Underline="Single"/>
        </Style>
        <Style ss:ID="s62">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
        </Style>
        <Style ss:ID="s70">
            <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
        </Style>
        <Style ss:ID="s74">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
            <NumberFormat ss:Format="m/d/yyyy;@"/>
        </Style>
        <Style ss:ID="s75">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
            <NumberFormat ss:Format="Medium Time"/>
        </Style>
        <Style ss:ID="s76" ss:Parent="s67">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
        </Style>
        <Style ss:ID="s79">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF" ss:Bold="1"/>
            <Interior ss:Color="#003366" ss:Pattern="Solid"/>
        </Style>
        <Style ss:ID="s81">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
            <Interior ss:Color="#00ABEA" ss:Pattern="Solid"/>
        </Style>
        <Style ss:ID="s82">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF" ss:Bold="1"/>
            <Interior ss:Color="#6711FF" ss:Pattern="Solid"/>
        </Style>
        <Style ss:ID="s83">
            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
            <Interior ss:Color="#99CC00" ss:Pattern="Solid"/>
        </Style>
    </Styles>
    <Worksheet ss:Name="Sheet1">
        <Table ss:ExpandedColumnCount="13" ss:ExpandedRowCount="3" x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="16">
            <Column ss:Width="52"/>
            <Column ss:Width="47"/>
            <Column ss:AutoFitWidth="0" ss:Width="88"/>
            <Column ss:Width="69"/>
            <Column ss:AutoFitWidth="0" ss:Width="77"/>
            <Column ss:AutoFitWidth="0" ss:Width="78"/>
            <Column ss:AutoFitWidth="0" ss:Width="79"/>
            <Column ss:AutoFitWidth="0" ss:Width="68"/>
            <Column ss:AutoFitWidth="0" ss:Width="76"/>
            <Column ss:AutoFitWidth="0" ss:Width="62"/>
            <Column ss:AutoFitWidth="0" ss:Width="94"/>
            <Column ss:AutoFitWidth="0" ss:Width="64"/>
            <Column ss:Width="77"/>
            <Row>
                <Cell ss:MergeAcross="5" ss:StyleID="s79">
                    <Data ss:Type="String">Tweet Detail</Data>
                </Cell>
                <Cell ss:MergeAcross="6" ss:StyleID="s82">
                    <Data ss:Type="String">User Detail</Data>
                </Cell>
            </Row>
            <Row>
                <Cell ss:StyleID="s81">
                    <Data ss:Type="String">Date</Data>
                </Cell>
                <Cell ss:StyleID="s81">
                    <Data ss:Type="String">Time</Data>
                </Cell>
                <Cell ss:StyleID="s81">
                    <Data ss:Type="String">Screen Name</Data>
                </Cell>
                <Cell ss:StyleID="s81">
                    <Data ss:Type="String">Name</Data>
                </Cell>
                <Cell ss:StyleID="s81">
                    <Data ss:Type="String">Tweet Text</Data>
                </Cell>
                <Cell ss:StyleID="s81">
                    <Data ss:Type="String"># Retweets</Data>
                </Cell>
                <Cell ss:StyleID="s83">
                    <Data ss:Type="String"># Followers</Data>
                </Cell>
                <Cell ss:StyleID="s83">
                    <Data ss:Type="String"># Follows</Data>
                </Cell>
                <Cell ss:StyleID="s83">
                    <Data ss:Type="String"># Favorites</Data>
                </Cell>
                <Cell ss:StyleID="s83">
                    <Data ss:Type="String">Verified</Data>
                </Cell>
                <Cell ss:StyleID="s83">
                    <Data ss:Type="String">Member Since</Data>
                </Cell>
                <Cell ss:StyleID="s83">
                    <Data ss:Type="String">Location</Data>
                </Cell>
                <Cell ss:StyleID="s83">
                    <Data ss:Type="String">Bio</Data>
                </Cell>
            </Row>
            <Row>
                <Cell ss:StyleID="s74">
                    <Data ss:Type="DateTime">2017-01-01T00:00:00.000</Data>
                </Cell>
                <Cell ss:StyleID="s75">
                    <Data ss:Type="DateTime">1899-12-31T13:30:00.000</Data>
                </Cell>
                <Cell ss:StyleID="s76" ss:Formula="=HYPERLINK(&quot;https://www.twitter.com/justinbieber&quot;, &quot;@justinbieber&quot;)" ss:HRef="https://www.twitter.com/justinbieber">
                    <Data ss:Type="String">@justinbieber</Data>
                </Cell>
                <Cell ss:StyleID="s62">
                    <Data ss:Type="String">Justin Bieber</Data>
                </Cell>
                <Cell ss:StyleID="s70">
                    <Data ss:Type="String">I love USA</Data>
                </Cell>
                <Cell ss:StyleID="s62">
                    <Data ss:Type="Number">234</Data>
                </Cell>
                <Cell ss:StyleID="s62">
                    <Data ss:Type="Number">484</Data>
                </Cell>
                <Cell ss:StyleID="s62">
                    <Data ss:Type="Number">38</Data>
                </Cell>
                <Cell ss:StyleID="s62">
                    <Data ss:Type="Number">1233</Data>
                </Cell>
                <Cell ss:StyleID="s62">
                    <Data ss:Type="String">Yes</Data>
                </Cell>
                <Cell ss:StyleID="s74">
                    <Data ss:Type="DateTime">2017-01-01T00:00:00.000</Data>
                </Cell>
                <Cell ss:StyleID="s62">
                    <Data ss:Type="String">Canada</Data>
                </Cell>
                <Cell ss:StyleID="s70">
                    <Data ss:Type="String">I am awesome</Data>
                </Cell>
            </Row>
        </Table>
        <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
            <PageSetup>
                <Header x:Margin="0.3"/>
                <Footer x:Margin="0.3"/>
                <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
            </PageSetup>
            <Print></Print>
            <PageLayoutZoom>0</PageLayoutZoom>
            <Selected/>
            <Panes>
                <Pane>
                    <Number>3</Number>
                    <ActiveRow>2</ActiveRow>
                    <ActiveCol>10</ActiveCol>
                </Pane>
            </Panes>
            <ProtectObjects>False</ProtectObjects>
            <ProtectScenarios>False</ProtectScenarios>
        </WorksheetOptions>
    </Worksheet>
    <Worksheet ss:Name="Sheet2">
        <Table ss:ExpandedColumnCount="1" ss:ExpandedRowCount="1" x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="16"></Table>
        <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
            <PageSetup>
                <Header x:Margin="0.3"/>
                <Footer x:Margin="0.3"/>
                <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
            </PageSetup>
            <Print></Print>
            <PageLayoutZoom>0</PageLayoutZoom>
            <ProtectObjects>False</ProtectObjects>
            <ProtectScenarios>False</ProtectScenarios>
        </WorksheetOptions>
    </Worksheet>
</Workbook>
