html, body, #root, .main-container, .search-pane, .result-pane {
  height: 100%;
  width: 100%;
}

.main-container {
  box-sizing: border-box;
  display: flex;
}

.search-pane {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-pane button {
  border-radius: 0;
}

.search-pane label {
  width: 280px;
}
.search-pane input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #DDDDDD;
}

.result-pane {
  width: 500px;
  display: flex;
  flex: 1;
}
