html, body, #root, .main-container, .search-pane, .result-pane {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'PT Sans';
}

h1.no-data-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #F9F9F9;
  letter-spacing: 2px;
  font-size: 100px;
}

aside h1,
aside h2,
aside h3,
aside h4,
aside h5,
aside h6 {
  margin: 0;
  line-height: normal;
  font-family: 'Cabin Sketch';
  font-weight: 700;
}

.main-container {
  box-sizing: border-box;
  border: 3px solid red;
  display: flex;
}

header.mdl-layout__header,
div.mdl-layout__header-row {
  box-shadow: none;
  min-height: 48px;
  max-height: 48px;
  padding: 0 8px 0 24px;
  /*background-color: #303F9F;*/
}

header.mdl-layout__header div.mdl-layout__drawer-button {
  min-height: 48px;
  max-height: 48px;
  margin: 0px;
}

aside.mdl-layout__drawer.is-visible {
  width: 300px;
  padding: 20px;
  justify-content: space-between;
}

form div.mdl-textfield {
  margin: 10px 0;
  padding: 0;
}

form div.mdl-textfield input.mdl-textfield__input {
  font-size: 15px;
}

form div.mdl-textfield label.mdl-textfield__label:after {
  bottom: 0;
  background-color: rgb(33, 150, 243);
}

form div small {
  color: rgb(33,150,243);
  font-size: 12px;
  top: 4px;
}

a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect {
  margin: 15px 0 0 0;
  border-radius: 0;
  display: flex;
  flex: 1;
}

span.mdl-layout-title {
  font-family: 'Cabin Sketch';
}


/* Custom Styling for Fixed-Data-Table-2 */

div.public_fixedDataTableCell_cellContent {
  padding: 0 5px;
  font-family: 'PT Sans';
  overflow: scroll;
}
/*div.public_fixedDataTableCell_cellContent {
  padding: 0 0 10px;
  overflow: scroll;
  font-family: 'PT Sans';
  height: 35px;
}*/

div.public_fixedDataTable_header div.public_fixedDataTableCell_main {
  text-align: center;
  background-image: none;
  /*background-color: #3F51B5;*/
  background-color: #EFEFEF;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

/* Border of All Cells */
div.public_fixedDataTable_header div.public_fixedDataTableCell_main,
div.public_fixedDataTable_main,
div.public_fixedDataTable_header,
div.public_fixedDataTableCell_main {
  border-color: #BDBDBD;
}
