#search-result {
  transition: margin-left .5s;
  height: calc(100vh - 48px);
}

#table-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

h1.no-data-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #F9F9F9;
  letter-spacing: 2px;
  font-size: 100px;
}

div.fixedDataTableCellLayout_wrap3.public_fixedDataTableCell_wrap3 {
  position: relative;
}

div.public_fixedDataTableCell_cellContent {
  padding: 0px;
  margin: auto 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'PT Sans';
}

div.public_fixedDataTable_header div.public_fixedDataTableCell_main {
  text-align: center;
  background-image: none;
  background-color: #0084B4;
  color: #FFFFFF;
  font-weight: 400;
}

div.public_fixedDataTable_header div.public_fixedDataTableCell_main a {
  color: #1DCAFF;
  cursor: pointer;
}

div.public_fixedDataTable_header div.public_fixedDataTableCell_main,
div.public_fixedDataTable_main,
div.public_fixedDataTable_header,
div.public_fixedDataTableCell_main {
  border-color: #FFFFFF;
  border-left: none;
}

div.fixedDataTableLayout_main.public_fixedDataTable_main,
div.fixedDataTableCellGroupLayout_cellGroup > div:last-child {
  border-right: none;
}
